.container {
  align-items: center;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container-top {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem; 
  width: 100%;
}

.container-top button {
  margin-left: 0.1rem;
}
  
.container-top a {
  margin-left: 0.1rem;
}

.container-bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aside {
  align-items:flex-start;
  border: 1px solid var(--gray-200);
  box-shadow: 1px 1px 4px 1px var(--shadow);
  color: var(--grey-500);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 700px;
  justify-content: center;
  padding-left: 1.5rem;
  width: 400px;
}

.title {
  color: #000;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

hr {
  align-items: flex-start;
  background-color: var(--grey-500);
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 15rem;
}

.category:hover {
  color: var(--blue-300);
  text-decoration-line: underline;
}

.input {
  background: #FFF;
  border: 1px solid #3a3939;
  border-radius: 0.3rem;
  flex-shrink: 0;
  height: 35px;
  vertical-align: middle;
  width: 238px;
}

.buttonSearch {
  height: 31px;
  vertical-align: middle;
  width: 30px;
}

.paragraph {
  color: #31C28D;
  font-family: Epilogue, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.65px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.paragraphNot {
  color: #94979D;
  font-family: Epilogue, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.link {
  color: #31C28D;
}
