:root {
  --white: #fff;
  --background: #fefefe;
  --main: #dfe5eb;
  --gray-200: #ced4da;
  --grey-300: #94979D;
  --grey-500: #444955;
  --blue-300: #003BE5;
  --green-300: #31C28D; 
  --shadow: #0000001a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}